.App {
  text-align: center;
}

img {

}

.App-logo {
  height: 40vmin;
  border-radius: 50%;
}

.App-dc {
  animation: App-logo-spin infinite 40s linear;
  height: 40vmin;
}

.App-marvel {
  animation: App-logo-spin-reverse infinite 40s linear;
  height: 40vmin;
  border-radius: 50%;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100vh;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes App-logo-spin-reverse {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
